@charset "UTF-8";
/* CSS Document */
html {
    height:100%;
    box-sizing:border-box;
}

body {  
    height:100%;
    margin:0;
    background-color:#000f27;
}

h1 {
    justify-content: center;
    color:azure;
}

.logo {
    width:60vw;
    bottom:9vh;
    right:0;
    float:right;
    background-color: transparent;
    position:absolute;
}


.background {
    position:absolute;
    margin-top:100px;
}


.mountain {
  width: 300px;
  height: 300px;
  background: linear-gradient(rgb(164, 164, 164), rgb(164, 164, 164,0));
  transform: skew(287deg, 25deg);
}

.meani {
    height:115%;
    margin:-55px 0 0 -80px;
    position:absolute;
}

.display {
    border-radius: 10px;
    background:linear-gradient(15deg, rgba(237, 237, 237),rgba(149, 149, 149)80%, rgba(237, 237, 237));
    margin:0 auto 30px auto;
    width:950px;
    box-shadow: 0 0 10px 10px #00ffff;
}

.wrapper {margin-top:-15px;
    position:relative;
    background:#000f27;
    padding-bottom:15px;
    box-shadow: 0 -40px 50px 35px #000f27;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Modal Function */

.imgprev {
    margin:5px;
    width:250px;
    cursor:pointer;
    transition: 0.8s;
    filter: drop-shadow(0px 4px 4px black);
}

.imgprev:hover {
    opacity:0.6;    
}

.modal-content {
    background-color: #000;
}

.modal-body {
    margin:auto;
}

.modal-body img {
    width:100%;
}

.modal-backdrop.show {
    opacity: 1;
    background-color:#000f27;
}

.modal-footer {
    color:#fff;
}

.form-row {
    display:flex;
}
.pix1 {
    background:#000f27;
    height:8vw;
}

.pix2 {
    background:rgba(0,15,39,0);
    height:8vw;
}
/* parallax "viewport" */


.parallax {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.parawrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.midground {
  transform: translateZ(-8px) scale(1.9);
    margin-top:-1200px;
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}


/* Sun */

#sun {
   display: grid;
   grid-template: 1fr / 1fr;
   inline-size: min(80vmin, 400px);
   aspect-ratio: 1;
   border-radius: 50%;
   font-size: 0;
   
   --bg: #f9124f; 
   filter: drop-shadow(0 0 min(20px, 5vmin) var(--bg));
   background: radial-gradient(
      circle at center, 
      var(--bg) 0, var(--bg) 53%, transparent 60%
   );
}

#sun::after {
   content: "";
   grid-area: 1 / 1;
   background: linear-gradient(#e59a49, #ec008c);
   border-radius: inherit;
   
   --mask: linear-gradient(to bottom,
     #000 1.5% , #0000 2%   , #0000 5%   , #000 5.5% 
    ,#000 7.5% , #0000 8%   , #0000 10.6%, #000 11.1% 
    ,#000 13.6%, #0000 14.1%, #0000 16.3%, #000 16.8%
    ,#000 19.8%, #0000 20.3%, #0000 22.1%, #000 22.6% 
    ,#000 26.1%, #0000 26.6%, #0000 28%  , #000 28.5% 
    ,#000 32.5%, #0000 33%  , #0000 34%  , #000 34.5% 
    ,#000 39%  , #0000 39.5%, #0000 40.1%, #000 40.6% 
    ,#000 46.6%, #0000 47.1%, #0000 47.5%, #000 48% 
    ,#000 53.5%, #0000 54%  , #0000 54.2%, #000 0
   ) no-repeat;
    
    

   
   -webkit-mask: var(--mask);
   mask: var(--mask);
}

/* Car */

@keyframes car {
    5%{margin-top:5px;}
    7%{margin-top:0;}
    8%{margin-top:5px;}
    10%{margin-top:0;}
    25%{margin-top:5px;}
    27%{margin-top:0;}
    28%{margin-top:5px;}
    30%{margin-top:0;}
    55%{margin-top:5px;}
    57%{margin-top:0;}
    58%{margin-top:5px;}
    60%{margin-top:0;}
    75%{margin-top:5px;}
    77%{margin-top:0;}
    78%{margin-top:5px;}
    80%{margin-top:0;}
}

.car{
    animation: car 3s infinite;
    
}


/* Grid Function */

section {
  height: 80vh;
  width: 100vw;
  perspective: 530px;
  overflow: hidden;
  background-image: linear-gradient(to top,rgba(0,15,40,1) 0%, rgba(20,68,145,1) 36%, rgba(99,11,71,1) 77%, rgba(166,17,136,1) 88%, rgba(16,75,96,1) 97%, rgba(0,15,40,1) 100%);
}

.grid {
  background-size: 70px 70px;
  background-image:
    linear-gradient(to right, rgba(0, 255, 255, .5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 255, 255, .5) 1px, transparent 1px);
  height: inherit;
  transform: rotateX(52deg);
  transform-origin: top center;
  animation: 5s linear infinite crawlingWall;
  background-position-y: top;
}

@keyframes crawlingWall {
  to {
    background-position-y: bottom;
  }
}

.grid2 {
  background-size: 195px 70px;
  background-image:
    linear-gradient(to right, rgba(0, 255, 255, .5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 255, 255, .5) 1px, transparent 1px);
  height: inherit;
  width: 200%;
  transform: rotateX(67deg);
  transform-origin: left center;
  animation: 5s linear infinite crawlingWall2;
  background-position-x: left;
}

@keyframes crawlingWall2 {
  to {
    background-position-x: right;
  }
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.spacer{
    position:relative;
    top:700px;
    z-index:2;
    height:200px;
    background:linear-gradient(to bottom, rgba(13,0,76,0),rgba(13,0,76,1));
}

.butwrap {
    margin:auto;
    position:relative;
    top:175px;
    width:1016px;
    z-index:4;
    pointer-events:none;
}

.but {
    width:50px;
    top:900px;
    z-index:4;
    pointer-events:all;
}

.but.right {
    rotate:180deg;
    float:right;
}

/* Contact Form */

/* Media QUeries */

@media (min-width:1350px) {
    .display {
        width: 1280px;

    }

    .butwrap {
        width: 1345px;
    }
}
@media (min-width:481px) and (max-width: 768px ) {
    
    .jcarousel li {
        margin:3vw;
        width:auto;
    }
        .imgprev{
        margin:5px;
        width:40vw;
    }
    
    .display {
        width:95vw;
        
    }
    
    .butwrap {
        top:28vw;
        width:auto;
    }
}

@media (min-width:410px) and (max-width: 480px ) {
    
    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }
    
    .midground {
        margin-left:115vw;
        margin-top:-130vh;
        transform: translateZ(-8px) scale(1.2);
    }
    
    .logo {
        width:80%;
        top:450px;
        right:inherit;
        margin:auto;
        padding:20px;
    }
    .meani {
        width:515px;
        overflow:hidden;
    }
    
    .imgprev{
        margin:10px;
        width:300px;
    }
    
    .display {
        width:350px;
        
    }
    
    .butwrap {
        top:200px;
        width:410px;
    }
}
    
@media (min-width:320px) and (max-width: 409px ) {
    
    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }
    
    .midground {
        margin-left:115vw;
        margin-top:-130vh;
        transform: translateZ(-8px) scale(1.2);
    }
    
    .logo {
        width:80%;
        top:48vh;
        right:inherit;
        margin:auto;
        padding:20px;
    }
    .meani {
        width:515px;
        overflow:hidden;
    }
    
    .imgprev{
        margin:-2px;

    }
    
    .display {
        width:275px;
        
    }
    
    .butwrap {
        top:170px;
        width:310px;
    }

}
